<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v3.1.0</title>

    <link rel="shortcut icon" type="image/png" href="../node_modules/jasmine-core/images/jasmine_favicon.png">
    <link rel="stylesheet" href="../node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

    <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="../node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>

    <!-- include source files here... -->
    <!--<script type="text/javascript" src="../src/Factorial.js"></script>-->
    <!--<script type="text/javascript" src="../src/general/Deposit.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/tax/Currency.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/tax/TaxIndiaEmp.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/creditCard/CreditCard.js"></script>-->
    <script type="text/javascript" src="../src/custom/Person.js"></script>

    <!-- include spec files here... -->
    <!--<script type="text/javascript" src="../spec/Factorial.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStock.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/Deposit.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/JasmineMatchers.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStockOptimizeCode.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStockOptimizeCode_With_this.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/tax/TDS.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/creditCard/CreditCard.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/custom/custom_equality.spec.js"></script>-->
    <script type="text/javascript" src="../spec/custom/Custom_Matcher.spec.js"></script>
</head>

<body>
</body>
</html>
