<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Jasmine Spec Runner v3.1.0</title>

    <link rel="shortcut icon" type="image/png" href="../node_modules/jasmine-core/images/jasmine_favicon.png">
    <link rel="stylesheet" href="../node_modules/jasmine-core/lib/jasmine-core/jasmine.css">

    <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine.js"></script>
    <script src="../node_modules/jasmine-core/lib/jasmine-core/jasmine-html.js"></script>
    <script src="../node_modules/jasmine-core/lib/jasmine-core/boot.js"></script>
    <!--<script src="../node_modules/jasmine-ajax/lib/mock-ajax.js"></script>-->
    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/mock-ajax.js"></script>
    <script src="../lib/jasmine-jquery.js"></script>


    <script type="text/javascript" src="../node_modules/angular/angular.min.js"></script>
    <script type="text/javascript" src="../node_modules/angular-mocks/angular-mocks.js"></script>

    <!-- include source files here... -->
    <!--<script type="text/javascript" src="../src/Factorial.js"></script>-->
    <!--<script type="text/javascript" src="../src/general/Deposit.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/tax/Currency.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/tax/TaxIndiaEmp.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/creditCard/CreditCard.js"></script>-->
    <!--<script type="text/javascript" src="../src/custom/Person.js"></script>-->
    <!--<script type="text/javascript" src="../src/exception/Exception.js"></script>-->
    <!--<script type="text/javascript" src="../src/custom/Person.js"></script>-->
    <!--<script type="text/javascript" src="../src/tdd/currency_convert/CurrencyConverter.js"></script>-->
    <!--<script type="text/javascript" src="../src/spy/check_person_eligibility.js"></script>-->
    <!--<script type="text/javascript" src="../src/spy/any_objectContaining/phone_class.js"></script>-->
    <!--<script type="text/javascript" src="../src/ajax/myJavaScript_File.js"></script>-->
    <!--<script type="text/javascript" src="../src/jquery/jQuery_example.js"></script>-->
    <!--<script type="text/javascript" src="../src/angularjs/myDateOfBirthControllerAJS.js"></script>-->
    <script type="text/javascript" src="../src/javascript_app/US_Tax_Estimation.js"></script>

    <!-- include spec files here... -->
    <!--<script type="text/javascript" src="../spec/Factorial.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStock.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/Deposit.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/JasmineMatchers.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStockOptimizeCode.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/InventoryStockOptimizeCode_With_this.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/tax/TDS.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/creditCard/CreditCard.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/custom/custom_equality.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/custom/Custom_Matcher.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/exception_error/exception.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/pending/Pending.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/currency_convert/CurrencyConverter.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/currency_convert/CurrencyConverter_tests.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/currency_convert/AcceptanceCriteria.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/tdd/currency_convert/CurrencyConverter_tests_group.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/spy/check_person_eligibility.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/spy/tracking/spies_tracking_properties.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/spy/custom_spy_method/custom_spy.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/spy/any_objectContaining/jasmine_any_objectContaining.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/spy/timeout/jasmine_mock_TimeOut_spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/ajax/JasmineTest_Ajax.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/fixtures/jasmine_fixture_spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/fixtures/jquery/jasmine_jQuery_spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/fixtures/jquery/matcher/jasmine_jquery_matchers.js"></script>-->
    <!--<script type="text/javascript" src="../spec/fixtures/jquery/asynchronous/asynchronous_with_done.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/angularjs/myDateOfBirthControllerAJS.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/javascript_app/US_Tax_Estimation.spec.js"></script>-->
    <!--<script type="text/javascript" src="../spec/javascript_app/US_TaxEstimation_DataDriven.spec.js"></script>-->
    <script type="text/javascript" src="../spec/javascript_app/US_TaxEstimation_WithChangeRequest_spec.js"></script>
</head>

<body>
    <div id="myID"></div>
</body>
</html>
